body{
    background-image: url(fotot/white.jpg
    background-size: cover;
    background-position: center;

}
h1{
    color: rgb(12, 1, 53);
    text-align: center;
    word-spacing: 20px ;
    margin-left: 25px;
    letter-spacing: 5px;
}

p{
    color: rgb(1, 31, 39);
    text-align: center;
    text-indent: 20px;
}
