body{
    background-image: url(fotot/kitchen.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
h1{
    color: rgb(16, 78, 133);
    text-indent: 25px;
    word-spacing: 7px;
    text-align: center;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 6px; color: rgb(255, 255, 255);
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.links a {
    margin-left: 20px;
}
fieldset{
    text-align: center;
    margin-left: auto;
}
