body{
    background-color: rgb(201, 158, 106);}  
    h1{
        color: rgb(138, 43, 226);
    }
  div{
    width:400px ;
    border: 5px solid rgb(rgb(180, 16, 180); 
    padding: 10px;
    margin-left:20px;
    background-color: rgba(255, 228, 196, 0.959);}

    #paragraf{
      color: rgb(65, 36, 92);
      font-size: medium;
      border-width: 20;
      border-style: 20;
      border-color: rgb(77, 20, 74);
      
    }
    