body{
    margin: 0;
    padding: 0;
}

#section-1{
    background-color: #87509c;
    height: 600px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
header{
    display: flex;
    justify-content: space-around;
    padding: 55px;
}
nav ul li {
    display: inline-block;
    padding: 10px 16px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}


nav ul li .active {
    background-color: #643a79;
    border-radius: 5px;
}
.main-heading{
    text-align: center;
    margin-top: 130px;
}
.main-heading h1{
    color: white;
    font-size: 42px;
    margin-bottom: 60px;
    font-weight:bold;
}
.main-heading a{
    color: white;
    padding: 25px 85px;
    font-size: 18px;
    background-color:orangered;
    text-decoration:none;
    border-radius: 5px;
    text-transform: uppercase;
    
}
#section-2{
    background-color: #17c2a4;
    min-height: 745px;
    color: white;
}
.title-box{
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    max-width: 600px;
}
.title-box h2{
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 100px;
    font-size: 40px;
    text-transform: uppercase;
    border-radius: 5px;
}

.services-box{
    display: flex;
    margin-top: 80px;
    margin-right:auto;
    margin-left:auto;
    width: 80%;

}
.service{
    width: 24%;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}
.service h3{
    margin-top:60px;
    font-size:24px;
    font-weight:bold;
    text-transform:uppercase;
}
.service p{
    font-size: 16px;
}
