body{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    width: 85%;
    margin: auto;
}

#section-1{
    min-height: 100vh;
    background: pink;
    background-size: cover;
    background-position: center;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.logo{
    color:plum;
    font-size: 28px;
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 25px;
}
nav ul li a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}
nav ul li a:hover,.active a{
    color: blueviolet;
}
.main-heading p{
    margin-top: 150px;
    max-width: 550px;
}
.main-heading h1{
    font-size: 40%;
    color: pink;
}
.main-heading p{
    font-size: 35px;
    margin-left: 30%;
    color: #333;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-heading a,.small-btn,.product-card a,button{
    display: inline-block;
    background: #da7194;
    color: rgb(10, 1, 1);
    padding: 12px 28px;
    border-radius:30px;
    text-decoration: none;
    border: none;
}
.main-heading a,.small-btn,.product-card a,button a:hover,button:hover{
    background: #fff8f6;
}
#section-2 #section-3.products-section{
    padding:80px 0;
    background: #fff8f6;
}
.title-box{
    text-align:center;
    margin-bottom: 50px;
}
.title-box h2{
    font-size: 38px;
    color: #b85c7a;
}
.line{
    width: 80px;
    height: 4px;
    background: #b85c7a;
    margin: auto;
}
button{
    background-color: white;
    color: black;
    padding: 12px 25px;
    border: none;
    border-radius:  25px;
    font-size: 16px;
}